.page-title{
  font-size:42px;
  margin-bottom:10px;
}

.page-subtitle{
  color:#A1A1AA;
  margin-bottom:35px;
}

.certificate-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.certificate-card{
  background:#12121A;

  border:1px solid rgba(255,255,255,.08);

  border-radius:24px;

  padding:30px;

  text-align:center;

  transition:.3s;
}

.certificate-card:hover{
  transform:translateY(-8px);

  border-color:#C48A52;
}

.certificate-badge{
  font-size:60px;
  margin-bottom:20px;
}

.certificate-card h2{
  margin-bottom:12px;
}

.certificate-card p{
  color:#A1A1AA;
  margin-bottom:20px;
}

.certificate-card button{
  border:none;

  padding:12px 22px;

  border-radius:12px;

  cursor:pointer;

  font-weight:600;

  background:linear-gradient(
    135deg,
    #C48A52,
    #E0C3A3
  );

  color:white;
}